* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow-y: scroll;
  background-color: #12121f;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: top;
  padding: 10px;
}

.displayFrame{
  height: auto;
  width: 600px;
  background-color: #12121f;
  text-align: center;
}

.displayFrame h1{
  margin-bottom: 5px;
}

.displayFrame .question{
  font-size: 1.5rem;
  text-align: left;
  padding: 10px;
  height: 100px;
  width: 500px;
  margin: 0px 0px 5px 0px;
  display: inline-block;
  align-items: left;
  background-color: #2a2a3f;
  overflow-y:auto;
}

.displayFrame .voteNumber {
  display: inline-block;
  background-color: #284f47;
  height: 100px;
  width:90px;
  vertical-align: top;
  margin: 0px 0px 5px 0px;
  padding: 30px 5px 0px 5px;
  font-size: 2.7rem;
  font-weight:800;
}


.displayFrame button {
  display: inline-block;
  background-color: #e07d7d;
  height: 100px;
  width: 100px;
  vertical-align: top;
  margin: 0px 0px 5px 0px;
  padding: 15px 5px 5px 5px;
  font-weight:800;
  font-size: 14px;

}




.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 650;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: absolute;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #89e07e;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}